*{
margin: 0;
padding: 0%;
    }

a{
text-decoration: none;
outline: none;
}

nav {
background-color: rgb(226, 103, 197)  ;

}

h3{
padding-left: 30px;

}

.btn{
text: black;    

}

header{
    background-image: url("../img/laptop-1512838_960_720.png");
    background-position: center;
    background-size: cover;
    height: 20em;
    padding-top: 10em;
    font-size: 2em;
    text-align: center;
    
    }
    
    .carousel { 
    background-color: rgb(203, 27, 165);
    }
    
    .carousel-item {
    text-align: center;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 600px;
    }
        