* {
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
  outline: none;
}

nav {
  background-color: rgb(195, 150, 237);
}

.nav-link {
  background-color: blueviolet;
}

h3 {
  font-size: 3em;
  font-family: "Beau Rivage", cursive;
  padding-left: 1em;
}

h4 {
  color: rgb(23, 36, 110);
  text-align: center;
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 2%;
}

.btn {
  color: black;
  background-color: rgb(195, 150, 237);
}

header {
  background-image: url("../img/mujer-joven-trabajando-en-informática-trabaja-un-ordenador-que-está-el-suelo-aislado-blanco-182443840.jpg ");
  background-position: center;
  background-size: cover;
  height: 20em;
  padding-top: 4em;
  font-size: 3em;
  text-align: center;
  max-width: 100%;
}

.carousel {
  background-color: rgb(142, 208, 237);
}

.carousel-item {
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 50px;
}

legend {
  margin-bottom: 5%;
}

.icono {
  text-align: center;
  display: flex;
  padding-top: 2%;
  justify-content: center;
}

.icono a {
  text-decoration: none;
  color: rgba(8, 65, 221, 0.721);
}
